<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">     
    <title>Error</title>
</head>
<style>
    h2{
        margin-top:150px;
    }
    ul {
      margin-left: 40rem;
    }

    nav {
      background-color: rgba(0, 0, 0, 0.851);

    }

    .navbar-brand {
      margin-left: 3rem;
      color: rgb(255, 255, 255);
      font-weight: 600;

    }

    .nav-link {
      color:  rgb(255, 255, 255);
      transition: 0.7s;
      font-weight: 400;
    }
    .navbar a:hover {
    color: #4d63cd;
  }
</style>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Music Recommendation System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/musichome/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/aboutus/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/contactus/">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <center> <h2>Invalid user name or password.</h2></center>
   <center><em><p>Please enter a user name or password that is authorized to access this 
    application. Click here to <a href="http://127.0.0.1:8000/login/">Try Again</em></a></p></center>
  
</body>
</html>