{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="min-width: 300px;">
      <h3 class="card-title text-center mb-3">Login</h3>
      {% if error_message %}
        <h4 style="color: red;">{{ error_message }}</h4>
      {% endif %}
      <form method="post" action="{% url "accounts:login" %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username...">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password...">
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>

{% endblock content %}