{% extends 'layouts/base.html' %} {# -------------- About Page --------------#}
{% block title %}About{% endblock %} {% block content %}
<h1>About</h1>
<section>
  <h2>About our website</h2>
  <p>
    Our website is a CRUD application where you can interact with movies and
    books. You can browse our database of movies and books, and you can also add
    new movies and books. All of the information is stored in a SqLite database,
    and you can access it through the Django admin page.
  </p>
  <h3>About the developers</h3>
  <p>
    Our website was developed by a team of passionate developers who are
    learning Django and developing their skills. We are a group of developers,
    and we worked together to create this project. We hope that you will find it
    useful and informative.
  </p>
  <h4>About the technologies used</h4>
  <p>
    Our website uses Django as the framework, with SqLite as the database. We
    also used CSS to create the responsive design.
  </p>
  <h5>Contact us</h5>
  <p>
    If you have any questions or feedback about our website, you can contact us
    at
    <a href="mailto:info@example.com">info@example.com</a>
  </p>
</section>
{% endblock %}
