{% extends 'base.html' %}

{% block title %}
      Password Reset Form
        {% endblock %}

        {% block content %}
        <div class="d-flex flex-column justify-content-between align-items-center content">
            <div></div>
            <div class="card">
                <div class="card-header">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-body">
                    <form action="" method="post">{% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text material-symbols-outlined" id="basic-addon1">email</span>
                            <input type="email" name="email" class="form-control" placeholder="Enter Email" aria-label="Email" aria-describedby="basic-addon1">
                          </div>
                          <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-primary mx-auto">Send reset email</button>
                          </div>
                          
                    </form>
                </div>
            </div>
            <div></div>
        </div>
        {% endblock %}