{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white fw-bold">
          Add New Article
        </div>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-2">
              Add Article
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
