{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white fw-bold">Login</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-2 w-100">
              Login
            </button>
          </form>
          <div class="mt-3 text-center">
            <a href="{% url 'signup' %}">Don't have an account? Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
