{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white fw-bold">
          Change Password
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-2 w-100">
              Change Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
