{% extends 'todo_app/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Add Task{% endblock %}

{% block content %}
    <div class="add-task-form">
        <h2 class="text-center mb-4" >Add New Task</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Save Task</button>
        </form>
        <a href="{% url 'task_list' %}" class="btn btn-link">Back to Task List</a>
    </div>
{% endblock %}
