{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" height="300" width="300">
        </div>
<div class="col-md-6">
    <h2> {{movie.name}} </h2>
    <h6> {{movie.desc}} </h6>
    <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a>
</div>


          </div>
</div>
{% endblock %}