{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card">
  <img  src="{{i.img.url}}" class="card-img-top" alt="" height="250">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">View Details</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}