# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Django stuff
*.log
db.sqlite3
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
