.all-friend{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: inset;
}

.all-friend img{
    width: 100%;
    height: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.all-friend .user-detail{
    padding: 10px;
}

.friend-main-image-containter{
    width: 100%;
    height: 290px;
    position: relative;
    background-color: red;
}

.friend-main-image-containter img{
    width: 100%;
    height: 100%;
}

.friend-main-image-containter .friend-image-container{
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-left: 10px; 
    background-color: grey; 
    z-index: 100;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid white;

}

.friend-image-container div{
    position: relative
}

.friend-image-container div img{
    width: 100%;
    height: 100%;
    
    
}

.friend-image-container div .select-image-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: gray;
    z-index: 100;
    right: 0;
    bottom: 15px;
    border-radius: 50%;
}