#public:hover{
    background-color: grey;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
}

#public i{
    font-size: 13px;
    font-weight: bold;
}

#public span{
    font-size: 13px;
    font-weight: bold;
}

#postform{
    height: 100px;
    overflow-y: scroll;
}

#postform textarea{
    width: 100%;
    border: none;
}

#postform textarea:focus{
    border: none;
}

#inputpost:hover{
    background-color: rgb(225, 222, 222);
}

#assets{
    width: 100%;
}

#assets i{
    margin-right: 10px;
    font-size: 20px;
}

#assets p{
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}

#videoid{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#videoid div{
    margin: auto;
}

#videoid:hover{
    background-color: rgb(225, 222, 222);

}

#videoid i{
    color: red;
}

#photoid{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#photoid div{
    margin: auto;
}

#photoid:hover{
    background-color: rgb(225, 222, 222);
}

#photoid i{
    color: green;
}

#emojiid{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#emoji div{
    margin: auto;
}

#emojiid:hover{
    background-color: rgb(225, 222, 222);
}

#emojiid i{
    color: yellow;
}

#mediaid i{
    cursor: pointer;
    padding: 2px;
}

#mediaid i:hover{
    background-color: rgb(225, 222, 222);
    border-radius: 100%;
}

#ImageContainer1{
    width: 100%;
    height: 200px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    display: none;
    
}


#ImageContainer2{
    width: 100%;
    height: 200px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    display: none;
    
}




#photoBtn1{
    background-color: rgb(225, 222, 222);
    cursor: pointer;
    padding: 5px;
}

#photoBtn1:hover{
    background-color: rgb(225, 222, 222);
}

#post p{
    text-align: justify;
}

.likecommentshare{
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}

.likecommentshare:hover{
    background-color: rgb(225, 222, 222);
}

.likecommentshare a{
    text-decoration: none;
    color: black;
}

#commentinput{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgb(225, 222, 222);
    outline: none;
    padding: 10px;
}

.commentcontainer{
    display: none;
}

.likesstyle span{
    text-decoration: none;
    color: black;
}

.commentlist{
    padding: 20px;
    background-color: rgb(1, 28, 51);
}

.commentminute{
    padding-left: 10px;
}

.commentminute span{
    font-size: 12px;
    color: rgb(112, 111, 111);
}

.mycardbg1{
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
}

.mycardbg2{
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    display: block;
}

#namestyle{
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.imgstyle{
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
}

#   {
    display: block;
}

#video-container{
    display: block;
}

#video-container #videoImageID{
    display: block;
}







