asgiref 
beautifulsoup4
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet 
cryptography 
Django 
idna 
psycopg2 
pycparser 
pyOpenSSL
PySocks 
pytz 
requests 
six
soupsieve 
sqlparse 
urllib3 
win-inet-pton
wincertstore==0.2
