confusable-homoglyphs==3.0.0
dj-database-url==0.5.0
Django==1.11.11
django-registration==2.4.1
django-widget-tweaks==1.4.1
factory-boy==2.10.0
Faker==0.8.12
gunicorn==19.7.1
ipaddress==1.0.19
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-dateutil==2.7.2
python-http-client==3.0.0
pytz==2018.3
sendgrid==3.6.5
sendgrid-django==4.2.0
six==1.11.0
text-unidecode==1.2
whitenoise==3.3.1
