asgiref==3.8.1
Django==5.1.6
django-debug-toolbar==5.1.0
django-redis==5.4.0
Faker==36.1.1
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
psycopg2==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.1
redis==5.2.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
