<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>NK Bank - Transactions Made Easy</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'banking/assets/img/nklogo1.jpg' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.0/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


  <!-- Vendor CSS Files -->
  <link href="{% static 'banking/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'banking/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'banking/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'banking/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'banking/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'banking/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'banking/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'banking/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="{% url 'banking:index' %}"><span>NK Bank</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'banking:index' %}">Home</a></li>
          <li><a href="{% url 'donate:index' %}">Donate</a></li>
          <li><a class="active " href="{% url 'banking:customers' %}">Customers</a></li>
          <li><a href="{% url 'banking:records' %}">Records</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Customers Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Our Customers</h2>

          <ol>
            <li><a href="{% url 'banking:index' %}">Home</a></li>
            <li>Customers</li>
          </ol>
        </div>

      </div>
    </section><!-- End Header Section -->

    {% if messages %}
    <ul class="messages"><br>
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- ======= Customers Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% if customers %}
            {% for customer in customers %}
              {% if customer.user.is_staff %}

              {% else %}        
            <article class="entry">

              <h2 class="entry-title">
                <a href="blog-single.html">{{customer.user.first_name}} {{customer.user.last_name}}</a>
              </h2>

              <div class="entry-meta" style="zoom:1.4;-ms-zoom: 1.4;                      
              -webkit-zoom: 1.4;
              -moz-transform:  scale(1.4,1.4);
              -moz-transform-origin: left center;"
              >           <!-- Zoom for mozilla also-->
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{customer.user.email}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{customer.user.date_joined}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-currency-rupee"></i> <a href="blog-single.html">{{customer.current_balance}}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <div style="text-align:left"><img src="{% static 'banking/assets/img/nklogo1.jpg' %}" width="45" heigh="45" style="float:left"></div>
                <div class="read-more">
                  <a href="{% url 'banking:transact' customer.user.id %}">Transact</a>
                </div>
              </div>

            </article>
            {% endif %}
            {% endfor %}
            {% else %}
              No Customers found! Search again!
            {% endif %}

          </div><!-- End customers list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="{% url 'banking:customers_search' %}" method="GET">
                  <input type="text" name="query" id="query">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->



            </div><!-- End sidebar -->

          </div><!-- End Customers sidebar -->

        </div>

      </div>
    </section><!-- End Customers Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'banking:index' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'donate:index' %}">Donate</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'banking:customers' %}">Customers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'banking:records' %}">Records</a></li>
            </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              IIT Kharagpur <br>
              Kharagpur, WB 721302<br>
              West Bengal <br><br>
              <strong>Phone:</strong> +91 85150 88390<br>
              <strong>Email:</strong> nkbank@gmail.com<br>
            </p>

          </div>

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>About NK Bank</h3>
            <p>NK Bank provides premium banking and transaction services both electronic and manual.
              Highest rate of interest and fastest transaction is provided to our customers.
            </p>
            <div class="social-links mt-3">
              <a href="https://github.com/NabhyaKhoria" class="twitter" target="_blank"><i class="bx bxl-github"></i></a>
              <a href="https://www.facebook.com/nkhoria/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/nabhya_khoria/" class="instagram"><i class="bx bxl-instagram" target="_blank"></i></a>
              <a href="https://www.linkedin.com/in/nabhya-khoria-30a601218/" class="linkedin"><i class="bx bxl-linkedin" target="_blank"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>NK Bank</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/nabhya-khoria-30a601218/" target="_blank">Nabhya Khoria</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'banking/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'banking/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'banking/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'banking/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'banking/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'banking/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'banking/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'banking/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'banking/assets/js/main.js' %}"></script>

</body>

</html>