{% extends 'banking/base.html' %}
{% load static %}

{% block title %}NK Bank - Donations{% endblock %}

{% block content %}
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Donation</h2>
      <ol>
        <li><a href="{% url 'banking:index' %}">Home</a></li>
        <li>Donate</li>
      </ol>
    </div>
  </div>
</section>

<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 video-box">
        <img src="{% static 'banking/assets/img/animal-welfare2.jpg' %}" class="img-fluid" alt="">
        <a href="https://youtu.be/M-1-HFvpNF4" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
        <div class="icon-box">
          <div class="icon"><i class="bx bxs-dog"></i></div>
          <h4 class="title"><a href="">Animal Welfare</a></h4>
          <p class="description">Animal Welfare is the real problem. The Animal Welfare NGO working now for 10+ years, has collaborated with NK Bank to solve the prevailing issue of disregard for animals in India. Donate an amount of your choice to sustain their development and nurture their lives.</p>
        </div>
        <div class="col-6 mx-auto" style="margin-top:10%;">
          <div>
            <form style="zoom:1.25"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Jsko7FwUoViqHl" async> </script> </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service-details">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img src="{% static 'banking/assets/img/animal-welfare-mission.jpg' %}" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Our Mission</a></h5>
            <p class="card-text">Animal Welfare currently strives to feed the homeless. Provide them shelter by handing them over to nearby houses or Animal Shelters. We also supply the animal shelters with resources for daily functioning. We are currently partnered with 1000+ Animal Shelters all over India.</p>
            <div class="read-more"><a href="https://peopleforanimalsindia.org/" target="_blank"><i class="bi bi-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img src="{% static 'banking/assets/img/animal-welfare-plan.jpg' %}" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Our Plan</a></h5>
            <p class="card-text">The gazette notification of Raimona National Park by the Assam government is a big stride towards achieving IFAW-WTI’s vision of Greater Manas that was conceptualised more than a decade ago. Our Mobile Veterinary Service and Wildlife Transit Home is based next to Raimona National Park, and over the past decade has contributed significantly to conservation action in this landscape.</p>
            <div class="read-more"><a href="https://peopleforanimalsindia.org/" target="_blank"><i class="bi bi-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
