{% extends 'banking/base.html' %}

{% block title %}NK Bank - Transact{% endblock %}

{% block extra_head %}
<style>
  .transact_btn {
    display: inline-block;
    background: #68A4C4;
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
    border: none;
  }
</style>
{% endblock %}

{% block content %}
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Transact</h2>
      <ol>
        <li><strong>Hey {{ from_customer }}</strong></li>
      </ol>
    </div>
  </div>
</section>

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        {% if customers %}
          {% for customer in customers %}
            {% if customer.user.id != id_from %}
            <article class="entry">
              <h2 class="entry-title">
                <a href="#">{{ customer.user.first_name }} {{ customer.user.last_name }}</a>
              </h2>
              <div class="entry-meta" style="zoom:1.4;-ms-zoom: 1.4;-webkit-zoom: 1.4;-moz-transform: scale(1.4,1.4);-moz-transform-origin: left center;">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{ customer.user.email }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="{{ customer.user.date_joined }}">{{ customer.user.date_joined }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-currency-rupee"></i> <a href="#">{{ customer.current_balance }}</a></li>
                </ul>
              </div>
              <div class="entry-content">
                <div style="text-align:left"><img src="{% static 'banking/assets/img/nklogo1.jpg' %}" width="45" height="45" style="float:left"></div>
                <div class="read-more">
                  <form action="{% url 'banking:transact' customer.user.pk %}" method="POST" id="transact_form">
                    {% csrf_token %}
                    <i class="bi bi-currency-rupee"></i>
                    <input type="number" name="amount" id="amount" placeholder="Amount" max="{{ from_customer.current_balance }}" min="1" style="width:100px">
                    <input type="hidden" name="from_id" id="from_id" value="{{ id_from }}">
                    <input class="transact_btn" type="submit" value="Transact">
                  </form>
                </div>
              </div>
            </article>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="alert alert-warning">No Customers found! Search again!</div>
        {% endif %}
      </div><!-- End customer entries list -->

      <div class="col-lg-4">
        <div class="sidebar">
          <h3 class="sidebar-title">Search</h3>
          <div class="sidebar-item search-form">
            <form action="{% url 'banking:transact_customers_search' id_from %}" method="GET">
              <input type="text" name="query" id="query">
              <button type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
        </div><!-- End sidebar -->
      </div><!-- End blog sidebar -->
    </div>
  </div>
</section><!-- End Blog Section -->
{% endblock %}

{% block extra_js %}
<script>
  function transact() {
    document.getElementById('transact_form').submit();
  }
</script>
{% endblock %}
